<div>
  <h2>Ciao, <b>{{name}} {{surname}}!</b></h2>
  <h3>Benvenuto a CAFnow, Siamo felici di vederti qua!</h3>
  <p>La tua password temporanea è: {{password}}</p>
  <hr />
  <p>Per favore cambia la password dopo aver fatto login</p>
  <p>Puoi fare login cliccando questo link: <a href={{href}}>login</a></p>
</div>